        body {
            font-family: 'Inter', sans-serif;
        }

        .bg-primary{
            background-color: #E9F4FC;
        }

        .color-primary {
            color: #5FA4DD;
        }

        .bg-color-primary {
            background-color: #5FA4DD;
            color: white;
        }

        .bg-color-light-primary {
            background-color: #a0bfd8;
        }